{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
<h1>Edit Product</h1>
{{ form_start(productForm) }}
  {{ form_widget(productForm) }}
  <button class="btn btn-primary mt-3">Update Product</button>
{{ form_end(productForm) }}
{% endblock %}